<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="099bd6f6-53ee-465e-9b30-61c5c7850b3d" Publisher="CN=Onyx" Version="1.0.0.3" />
  <Properties>
    <DisplayName>Magic - Scroll</DisplayName>
    <PublisherDisplayName>Onyx</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Magic___Scroll.App">
      <VisualElements DisplayName="Magic - Scroll" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Magic - Scroll" ForegroundText="light" BackgroundColor="#A6FF72">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#A6FF72" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
          <Rotation Preference="landscapeFlipped" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
</Package>